* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "poppins", sans-serif;
}

/* Zone de jeu */
.gameZone {
  position: relative;
  background-color: white;
  overflow: hidden;
  width: 1200px;
  height: 800px;
  border: 10px solid #ff0000;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(255, 0, 0, 0.5); 
  cursor: crosshair;
  
  /* Image de fond */
  background-image: url("../assets/img/background2.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}

/* Barre de vie */
#life {
  font-size: clamp(1rem, 2vw, 2rem);
  position: absolute;
  top: 20px;
  right: 20px;
  color: red;
  user-select: none;
  z-index: 1000;
}

/* Compteur de points */
h3 {
  position: absolute;
  top: 20px;
  left: 10%;
  transform: translateX(-50%);
  font-size: 9rem;
  color: rgba(0, 0, 0, 0.555);
  user-select: none;
  z-index: 1000;
}

/* Style des pokéballs */
.pokeball {
  position: absolute;
  opacity: 1;
  animation: anim 8s forwards;
  transition: transform 0.3s;
}

/* Animation de montée des pokéballs */
@keyframes anim {
  to {
    top: -250px;
    left: var(--left);
    opacity: 1;
  }
}

/*Écrans moyens (tablette) */
@media (max-width: 1200px) {
  .gameZone {
    width: 900px;
    height: 600px;
    border-width: 8px;
  }
  h3{
    font-size: 5rem;
  }
}

/* === Petits écrans (smartphones) === */
@media (max-width: 900px) {
  .gameZone {
    width: 600px;
    height: 400px;
    border-width: 6px;
  }
   h3{
    font-size: 3rem;
  }
}
