body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 100vh;
  width: 100vw;
  cursor: crosshair;
  background-image: url("../assets/img/background2.webp");
  background-position: center;   /* centrer l'image */
  background-repeat: no-repeat;  /* ne pas répéter l'image */
}
.pokeball {
  position: absolute;
  opacity: 1;
  animation: anim 8s forwards;
  transition: transform 0.3s;
}

@keyframes anim {
  to {
    top: -250px;
    left: var(--left);
    opacity: 1;
  }
}
h3 {
  font-size: 10rem;
  text-align: center;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.555);
  user-select: none;
}
